/* purgecss start ignore */
@tailwind base;
@tailwind components;
article a {
    color: rgb(49, 49, 182);
    text-decoration: underline;
}
/* purgecss end ignore */
@tailwind utilities;

.animate-car {
    animation: car-animation 5s ease-in-out forwards;
  }

  @keyframes car-animation {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(100vw);
    }
  }